@model Mvc.Models.cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4 style="margin-left:20px">cliente</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
    
            <div class="form-group col-md-12">
                @Html.HiddenFor(model => model.id_cliente)
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group col-md-12">
                <label class="control-label col-md-1">Departamento</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.distrito.provincia.id_departamento, (SelectList)ViewBag.listarDepartamento, "-Seleccione-", new { @id = "idDepartamento", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.distrito.provincia.id_departamento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-md-1">Provincia</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.distrito.id_provincia, (SelectList)ViewBag.listarProvincia, "-seleccione-", new { @id = "idProvincia", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.distrito.id_provincia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
               <label class="control-label col-md-1">Distrito</label>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.id_distrito, (SelectList)ViewBag.listarDistrito, "-seleccione-", new { @id = "idDistrito", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_distrito, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="Guardar" class="btn btn-default" /> | @Html.ActionLink("Regresar", "Index")
                
                </div>
            </div>
        </div>
    }
    <script>

                $('#idDepartamento').change(function () {

                    var idDep = $('select[id=idDepartamento]').val();

                    $.ajax({
                        type:'GET',
                        url: '@Url.Action("GetProvincia", "cliente")',
                        data: {id:idDep},
                        success: function (data) {

                            var html_ = '<option value="">-selecione-</option>';

                            $.each(data, function (e, i) {
                                html_ += '<option value="' + i.Value + '">' + i.Text + '</option>';
                            });
                            $('#idProvincia').html(html_);
                        }
                    });
                });


        $('#idProvincia').change(function () {
            var idPro = $('select[id=idProvincia]').val();
            $.ajax({

                url: '@Url.Action("GetDistrito","cliente")',
                data: { id: idPro },
                type: 'GET',
                success: function (data) {

                    var html_ = '<option value="">-selecione-</option>';

                    $.each(data, function (e, i) {

                        html_ += '<option value="' + i.Value + '">' + i.Text + '</option>';
                    });
                    $("#idDistrito").html(html_);
                }
            });
        });

    </script>
 
</body>
</html>
